---
title: Future Spirits｜　Japan quality rental servers and hosting services using data
  centers in Kuala Lumpur, Malaysia
layout: home
---
<section class="section-banner section-background overlay-grid">
    <div class="container">
        <div class="ss-banner-content">
            <h1 class="fs-42 bebas">By dedicated server planner</h1>
            <a href="#" class="btn btn-primary iconright">Apply / 30-days Free Trial<i class="icon-arrow-1"></i></a> &nbsp;
            <a href="#" class="btn btn-black iconright"> CONTACT <i class="icon-arrow-1"></i></a>
        </div>
    </div>
    <img class="img-background" src="{{ 'images/banner.jpg'| prepend: site.baseurl }}" alt=""/>
</section>

<section class="section-option">
    <div class="container">
        <div class="pricingTable pricing-style1 owl-carousel">

            <div class="col1">
                <a href="{{ site.baseurl }}package.html#package-id-1">
                    <div class="item equalHeight">
                        <div class="title cl-main">portant! Email setup during overseas business expansion!</div>
                        <div class="title2">Light Plan</div>
                        <div class="groupPrice">
                            <div>
                                <span class="p1">RM</span>
                                <span class="p2"> <span class="bebas">200</span>  </span>
                                <span class="p3">/m</span>
                            </div>
                            <span class="p4"> &lt; 5000 yen/m  &gt; </span>
                        </div>
                        <div class="itemValue"><span class="bgw">Mail</span> Server</div>
                        <ul class="list-square">
                            <li>Initial Setup Fee RM 0</li>
                            <li>Phone ・ Email Support</li>
                            <li>Support for Configurations and Settings for Email Software!</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="col2 ">
                <a href="{{ site.baseurl }}package.html#package-id-2">
                <div class="item equalHeight active">
                    <div class="title cl-main">Using mail or web server<br/>with foreign domain</div>
                    <div class="title2">Basic Plan</div>
                    <div class="groupPrice">
                        <div>
                            <span class="p1">RM</span>
                            <span class="p2"> <span class="bebas">260</span> <span class="p2-1"> ~ </span> </span>
                            <span class="p3">/m</span>
                        </div>
                        <span class="p4"> &lt; 6500  yen/m  &gt; </span>
                    </div>
                    <div class="itemValue"><span class="bgw">Mail</span> or <span class="bgw">Web</span>Server</div>
                    <div class="itemValue">Domain</div>

                    <ul class="list-square">

                        <li>Setup Fee, Depending on server type</li>
                        <li>Full support from dedicated engineer</li>
                        <li>Shared Server and Dedicated Server</li>
                    </ul>
                </div>
                </a>
            </div>

            <div class="col3">
                <a href="{{ site.baseurl }}package.html#package-id-3">
                <div class="item equalHeight">
                    <div class="title cl-main">From email settings to homepage development</div>
                    <div class="title2">Full coverage plan</div>
                    <div class="groupPrice">
                        <div>
                            <span class="p1">RM</span>
                            <span class="p2"> <span class="bebas">260</span>  </span>
                            <span class="p3">/m</span>
                            <span class="p3-1"> + </span>
                            <span class="p3-2">Web<br/>site</span>

                        </div>
                        <span class="p4"> &lt; 6500  yen/m  &gt; </span>
                    </div>
                    <div class="itemValue"><span class="bgw">Web</span>Server</div>
                    <div class="itemValue">Domain</div>
                    <div class="itemValue">Website development</div>
                    <ul class="list-square">

                        <li>Setup Fee, Depending on server type</li>
                        <li>Dedicated engineer, full support</li>
                    </ul>
                </div>
                </a>
            </div>

        </div>
        <div class=" pb-30 fs-16 text-center">
            <span>Add-ons for all 3 plans</span> <br/>
            <span class="bebas fs-38">+  OPTION  +</span>
        </div>
        <div class="row grouplink">
            <div class="col-xs-6">
                <a href="{{site.baseurl}}folder-share.html" class="item fs-22 ">
                    <span class="title cl-main fs-16">Data-sharing among multiple locations</span>
                    <span>Shared folder</span>
                    <i class="icon-arrow-1"></i>
                </a>
            </div>
            <div class="col-xs-6">
                <a href="#" class="item fs-22 ">
                    <span class="title cl-main fs-16">Review, development of multi-lingual homepage</span>
                    <span>Website design ｜ Enquiries</span>
                    <i class="icon-arrow-1"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section-feature row-section">
    <div class="container">
        <h2 class="section-title">
            <span class="bg">HIGH QUALITY SUPPORT SERVER</span>
            <span class="text">FEATURE</span>
        </h2>
        <h4 class="mb-40 text-center">Our dedicated server planner will work closely with you upon signing up, right through to maintenance support</h4>
        <div class="items-grid">
            <div class="item">
                <h3 class="title cl-main">Our server planner will listen to your needs to tailor the plan best suited for you</h3>
                <p>From cost-effective shared server, to large scale, high traffic/high load dedicated servers, we have a wide variety of plans that cater to all your needs. Together with our engineers who have more than 21 years of experience in server operation, we shall propose the most optimum plan for you.</p>
            </div> <!-- /item -->
            <div class="item">
                <h3 class="title  cl-main">Immediate response during technical difficulties.Failure report and announcement on the website.</h3>
                <p>Our servers are remotely monitored from Japan while having local engineers on standby for immediate reponse and providing reports. All support can be done in either Japanese or English.</p>
            </div><!-- /item -->
            <div class="item">
                <h3 class="title cl-main">Our dedicated engineer will deliver your pre-configured server to you based on your requests.</h3>
                <p>Our engineers will configure the server according to your requests. Please do not hesitate to consult us for any requests.</p>
            </div> <!-- /item -->
            <div class="item">
                <h3 class="title  cl-main">24 hours a day, year-round monitoring. 
PING monitoring.</h3>
                <p>Constant monitoring on all servers. Immediate response, report and troubleshooting.</p>
            </div><!-- /item -->
        </div> <!-- items-grid -->


        <div class="row groupbtn">
            <div class="col-sm-8 col-sm-offset-2">
                <a href="#" class="btn btn-primary btn-lg iconright mb-15">
                    Apply / 30 days Free Trial
                    <i class="icon-arrow-1"></i>
                </a>
                <div class="row grid-space-0">
                    <div class="col-sm-6">
                        <ul class="list-arrow pt-8">
                            <li>Delivery Flow</li>
                            <li>FAQ</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" class="btn btn-grey btn-md iconright ">
                            Enquiry
                            <i class="icon-arrow-1"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- groupbtn -->


        <div class="row ">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="wrap-tabs ">
                    <!-- Nav tabs -->
                    <ul class="menu-tabs items-2" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab-home-1" aria-controls="tab-home-1" role="tab" data-toggle="tab">Notice</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab-home-2" aria-controls="tab-home-2" role="tab" data-toggle="tab">Failure/Maintenance</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab-home-1">
                            <div class="latestnews">

                                {% assign postCounter = 0 %}
                                {% assign maxPost = 5 %}
                                {% for post in site.posts %}
                                {% if post.categories contains 'notice' %}
                                <div class="item">
                                    <a href="/news.html#accordion-{{ counter }}">
                                        <span class="date">{{ post.date | date: "%Y/%m/%d" }}　</span>
                                        <span class="name"> {{ post.title }} </span>
                                    </a>
                                </div> <!-- /item -->
                                {% assign postCounter = postCounter | plus: 1 %}
                                {% if postCounter >= maxPost %}
                                {% break %}
                                {% endif %}
                                {% endif %}
                                {% endfor %}

                                <div class="text-center pt-30">
                                    <a href="{{ site.base }}news.html" class="btn btn-grey   ">
                                        <i class="icon-arrow-1"></i> &nbsp; more
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab-home-2">
                            <div class="latestnews">
                                {% assign postCounter = 0 %}
                                {% assign maxPost = 5 %}
                                {% for post in site.posts %}
                                {% if post.categories contains 'error' %}
                                <div class="item">
                                    <a href="information.html#accordion-{{ counter }}">
                                        <span class="date">{{ post.date | date: "%Y/%m/%d" }}　</span>
                                        <span class="name"> {{ post.title }} </span>
                                    </a>
                                </div> <!-- /item -->
                                {% assign postCounter = postCounter | plus: 1 %}
                                {% if postCounter >= maxPost %}
                                {% break %}
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                <div class="text-center pt-30">
                                    <a href="{{ site.base }}information.html" class="btn btn-grey   ">
                                        <i class="icon-arrow-1"></i> &nbsp; more
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  <!-- /tabs -->
            </div>
        </div>
    </div>
</section>
